@import '~bootstrap/dist/css/bootstrap.css';
#title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border: 1px solid black;
    margin-left: 10px;
    
}
.btn:hover{
    background-color: black;
    color: white;
    

}